{{ page_title }}

{{ content_for_header }}

{{ checkout_stylesheets }}
{{ checkout_scripts }}

{{ skip_to_content_link }}

{{ content_for_logo }}

{{ order_summary_toggle }}
<header class="main__header" role="banner">
  {{ content_for_logo }}
  {{ breadcrumb }}
  {{ alternative_payment_methods }}
</header>
<main class="main__content" role="main">
  {{ content_for_layout }}
</main>
<footer class="main__footer" role="contentinfo">
  {{ content_for_footer }}
</footer>
<div class="sidebar__header">
  {{ content_for_logo }}
</div>
<div class="sidebar__content">
  {{ content_for_order_summary }}
</div>
